body {
  color:#333;
   font-family: YuGothic;
   /* 游ゴシック */
   margin: 0;
  }
  
header {
   background-color: #efefef;
   padding-top: 30px;
   padding-bottom: 30px;
  }

 .title {
   width: 400px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   align-items: center;
   padding: 10px;
}

 .icon {

 }

 .icon img {
   border-radius: 50%;
   border-width: 4px;
   border-style: solid;
   border-color: white;
 }

 .info {
   margin: auto;
 }

 .info h1 {
   font-weight: normal;
   font-size: 30px;
   margin: 0;
 }

 .info p {
   font-size: 12px;
   margin-top: 0;
   margin-left:10px;
 }

 .info ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
   display: flex;
  }

 .info ul li {
   margin-left: 10px;
  }

 main {
   margin: 0 auto;
   width: 80%;
 }

 main h2 {
   font-weight: normal;
   font-size: 24px;
   text-align: center;
   margin-top: 60px;
  }

 main h3 {
  font-weight: normal;
  margin-top: 60px;
  }

 main p {
  line-height: 1.8;
 }

 .container ul {
    list-style: none;
  }

 .container li {
    display: inline-block;
    width: 30%;
    text-align: center;
  }

 footer p {
   text-align: center;
   font-size: 14px;
   margin-bottom: 60px;
   color: gray;  
  }

  @media screen and (min-width: 481px) {
    /* 481px以上に適用されるCSS（タブレット用） */
  }
  @media screen and (min-width: 960px) {
    /* 960px以上に適用されるCSS（PC用） */
  }
